footer {
    border-top: 1px solid #8C8C8C;
    padding: 32px 0 0;

    @media (min-width: 767px) { 

        padding: 72px 0 0;
    }
    .top {
        padding-bottom: 32px;
        @media (min-width: 767px) { 
            padding-bottom: 72px;
        }
        > div {
            width: 100%;

            &.div-1 {

                @media (min-width: 1025px) { 
                    width: 33%;
                }

                a {
                    font-size: 13px;
                    color: #000;

                    @media (min-width: 1025px) { 
                        font-size: 18px;
                    }

                    img {
                        width: 16px;

                        @media (min-width: 1025px) { 
                            width: 23px;
                        }
                    }

                    span {
                        vertical-align: top;
                        display: inline-block;
                        margin: 8px 0 0 8px;

                        @media (min-width: 1025px) { 
                            margin: 11px 0 0 16px;
                        }
                    }
                }

                p {
                    color: #8C8C8C;

                    font-size: 14px;
                    font-weight: 400;
                    line-height: 150%;

                    @media (min-width: 1025px) { 
                        font-size: 16px;
                    }
                }
            }

            

            

            &.div-1, &.div-2, &.div-3 {
                @media (min-width: 1025px) { 
                    padding-right: 10px;
                }
            }

            &.div-2, &.div-3 {
                width: 50%;
                @media (min-width: 1025px) { 
                    padding-right: 20px;
                }

                ul {
                    list-style: none;
                    padding: 0;
                    li {
                        margin: 16px 0;
                        a {
                            color: #8C8C8C;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 150%;


                            @media (min-width: 1025px) { 
                                font-size: 16px;
                            }

                            &.contact-email {
                                word-break: break-all;
                            }

                            &:hover {
                                color: $dark-blue;
                            }
                        }                        
                    }
                }
            }

            &.div-2, &.div-3, &.div-4 {
                @media (min-width: 1025px) { 
                    width: 22.33333%
                }
            }

            &.div-4 {
                p {
                    color: #8C8C8C;

           
                    font-size: 14px;
                
                    font-weight: 400;
                    line-height: 150%;

                    @media (min-width: 1025px) { 
                        font-size: 16px;
                    }
                }

                form {
                    max-width: 327px;
                }

                #email-footer {
                    padding: 14px 18px;
                    border-radius: 8px;
                    border: 1px solid #E8E8E8;
                    width: calc(100% - 65px);


                    @media (min-width: 1025px) { 
                        padding: 16px 20px;
                        border-radius: 12px;
                        width: calc(100% - 75px);
                    }

                    &::placeholder { 
                        color: #8C8C8C;
                        font-size: 14px;                       
                        font-weight: 400;
                        line-height: 150%;

                        @media (min-width: 1025px) { 
                            font-size: 16px;
                        }
                    }
                }
                .submit-button {
                    cursor: pointer;
                    position: relative;
                    width: 51px;
                    height: 51px;
                    border-radius: 10px;
                    border: 0;
                    background: var(--A, linear-gradient(236deg, #FEEA95 18.34%, #C69753 90.78%));
                    box-shadow: 0px 1.58727px 2.69837px 0px rgba(49, 49, 49, 0.02), 0px 6.98401px 5.5872px 0px rgba(49, 49, 49, 0.04), 0px 17.14256px 11.14266px 0px rgba(49, 49, 49, 0.05), 0px 33.0153px 21.84089px 0px rgba(49, 49, 49, 0.06), 0px 55.55458px 40.15804px 0px rgba(49, 49, 49, 0.08), 0px 85.7128px 68.57024px 0px rgba(49, 49, 49, 0.10);


                    @media (min-width: 1025px) { 
                        border-radius: 12px;
                        width: 60px;
                        height: 60px;
                    }

                    &:hover {
                        background: $light-yellow;
                    }
                }
            }
        }
    }
    h2 {
        color: #262626;

   
        font-size: 18px;    
        font-weight: 500;
        line-height: normal;
        

        @media (min-width: 1025px) { 
            font-size: 24px;
            margin-top: 0;
        }
    }
    .bottom {
        background: var(--A2, linear-gradient(78deg, $dark-blue 7.3%, $light-blue 91.24%));
        color: #fff;
        padding: 16px 0;
        @media (min-width: 767px) { 
            padding: 32px 0;
        }
        .container {
            
           
            
            div {
                font-size: 12px;
                text-align: center;
                font-weight: 400;
                line-height: 150%;
                width: 100%;
                
                
                

                

                @media (min-width: 767px) { 
                    font-size: 16px;                    
                    width: 50%;
                }

                &.left {
                    margin-bottom: 10px;
                    @media (min-width: 767px) { 
                        text-align: left;
                        margin-bottom: 0px;
                    }
                }

                &.right {
                    @media (min-width: 767px) { 
                        text-align: right;
                    }

                    a {
                        color: $light-yellow;

                      
                    }
                }
            }
        }
    }
}