.ContactPageContactForm {
    padding-top: 32px;
    padding-bottom: 32px;
    @media (min-width: 767px) { 
        padding-top: 72px;
        padding-bottom: 72px;
    }
    h2 {
        color: $light-blue;
        font-size: 14px;
        font-weight: 700;
        line-height: 30px; /* 214.286% */
        letter-spacing: 1px;
        margin: 0 0 10px;

        @media (min-width: 767px) { 
            font-size: 18px;
        }
    }
    h3 {
        color: #262626;
        font-size: 24px;
        font-weight: 500;
        line-height: 150%;
        margin: 10px 0 20px;

        @media (min-width: 767px) { 
            font-size: 40px;
        }   
    }
    form {
        padding: 16px;
        max-width: 600px;
        border-radius: 4px;
        box-shadow: 20px 36px 66px 0px rgba(0, 0, 0, 0.06);


        label {
            color: #262626;
            font-size: 12px;
            font-weight: 500;
            line-height: 150%; /* 18px */
            text-transform: capitalize;
            margin-bottom: 8px;
            display: inline-block;
            
            @media (min-width: 767px) { 
                font-size: 14px;
            }
        }

        input, textarea {
            min-width: 100%;
            width: 100%;
            font-size: 12px;
            font-weight: 400;
            line-height: 150%;
            padding: 16px 12px;
            border-radius: 8px;
            border: 1px solid #E8E8E8;
            margin-bottom: 20px;

            @media (min-width: 767px) { 
                font-size: 16px;
                padding: 16px 20px;
                margin-bottom: 24px;
            }

            &::placeholder {
                color: #8C8C8C;
                font-size: 12px;
                font-weight: 400;
                line-height: 150%;

                @media (min-width: 767px) { 
                    font-size: 16px;
                }
            }
        }

        input.blue-button {
            width: auto;
            min-width: 82px;
            min-height: 36px;
            padding: 10px;
            font-size: 14px;
            border-radius: 12px;

            @media (min-width: 767px) { 
                font-size: 18px;
                min-width: 92px;
                min-height: 60px;
            }
        }

        textarea {
            min-height: 90px;
        }

        .fname, .lname {
            width: 100%;
            @media (min-width: 350px) { 
                width: 49%;
            }
        }
    }
}